body{

    font-family: arial;
    font-size: 16px;
    text-align: justify;
    padding: 1%;
    background-color: #008B8B;
}

nav{
    text-align: center;
    background: #008B8B;
    padding: 3px;
}

#atendimento{
    text-align: right;
}

header{
    text-align: center;
}

#img-topo{
    background-color: #008B8B;
    height: 200px;
}

h1{
    text-align: center;
    color: #008B8B;
    font-size: 22px;
}

h2{
    font-size: 20px;
}

#grade{
    display: grid;
    grid-template-areas: "imagem texto";
}

.imagem{
    text-align: center;
}

.texto{
    text-align: center;
}

#wagner{
    border-radius: 50%;
}

#professor{
    background-color: #008B8B;
    text-align: center;
    padding: 1%;
}

h4{
    color: #FFF;
    font-size: 22px;
}

#logo-rodape{
    border-radius: 10%;
}

footer{
    background-color: #008B8B;
    text-align: center;
    color: #FFF;
    padding: 1%;
}

hr{
    width: 70%;
    border-color: #008B8B;
}

hr.bco{
    width: 70%;
    border-color: #FFF;
}

a:link, a:visited, a:active{
    text-decoration: none;
    color: #FFF;
}

a:hover{
    color: #FF0000;
    transition: 2s;
}

.publicidade{
    text-align: center;
}

#container{
    background: #FFF;
    padding: 5px;
    box-shadow: 2px 2px 2px #FFF;
}

.conteudo{
    padding: 3%;
}